#myVideo {
    position: fixed;
    z-index: -1;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.navbar {
    width: 100%;
    background-color: black;
    position: relative;
    top: -16px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: end;
    gap: 170px;
    margin-right: 260px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover{
    color: red;
}
a#Tab2:hover{
    color: #d600ff;
}
a#Tab3:hover{
    color: green;
}
a#Tab4:hover{
    color: aqua;
}

